
.mainApp {
  background-image: url("./images/daisy1.png");
  background-color: grey;
  /* background-image: url('../images/bg-image.jpg'); */
  /* background-size: auto 100%;
  background-repeat: no-repeat;
  color: black;
  background-position: left top; */
  height: 100%;
  width: 100%;
}